PORT=5002
MONGO_URI=mongodb://localhost:27017/grocery-tracker
JWT_SECRET=your_jwt_access_secret
JWT_REFRESH_SECRET=your_jwt_refresh_secret
FRONTEND_URL=http://localhost:3000

# Nodemailer SMTP settings (Optional, falls back to mock console logger)
SMTP_HOST=smtp.yourprovider.com
SMTP_PORT=587
SMTP_USER=your_smtp_username
SMTP_PASS=your_smtp_password
SMTP_FROM=noreply@yourdomain.com

# Cloudinary Config (Optional, falls back to local disk storage)
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Web Push VAPID Keys (Optional, falls back to disabled push notifications)
VAPID_SUBJECT=mailto:admin@yourdomain.com
VAPID_PUBLIC_KEY=your_vapid_public_key
VAPID_PRIVATE_KEY=your_vapid_private_key



OAUTH_CLIENT_SECRET=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
OAUTH_CLIENT_ID=749231689876-8v68ohp7e53bshkflcikh2gb37m568at.apps.googleusercontent.com